<div class="block">
  <p>Hi. My name is Pranay.</p>
  <p>I'm a computer science grad currently working as a software engineer at <a href="https://www.shippable.com" target="_blank">Shippable.</a></p>
  <p>I sometimes <a href="https://twitter.com/PranayPareek" target="_blank">tweet and re-tweet</a> tech-related stuff.</p>
  <p>I frequently browse around on <a href="https://www.quora.com/Pranay-Pareek" target="_blank">Quora</a>, occasionally answering questions about Cloud Computing and Heavy Metal.</p>
  <p>The last three books I read were:</p>
  <p>Losing My Virginity - Sir Richard Branson<br/>
    Ready Player One - Ernest Cline<br/>
    The Theory of Everything - Stephen Hawking<br/>
  </p>
  <p><a href="http://www.whoismrrobot.com" target="_blank">Psst.</a></p>
  <!--Max Levchin has a badass website.-->
  <p><a href="http://levchin.com/" target="_blank"></a></p>
</div>